* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

article {
    display: flex;
    padding: 1rem;
    width: 50%;
}

textarea:focus,
textarea:visited,
textarea:active,
textarea:hover,
textarea {
    border: none Transparent;
    outline: none;
    overflow: auto;
}

form,
textarea,
fieldset {
    width: 100%;
    min-height: 250px;
}

@media only screen and (max-width: 850px) {
    section {
        flex-direction: column;
    }

    article {
        width: 100%;
    }
}